<!DOCTYPE html>
<html lang='utf-8'>
    <meta charset="utf-8">
    <head>
        <title>Update Memo</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Update Memo</h1>
        <% if(typeof errs !== "undefined") { %>
            <% errs.forEach((err)=>{%>
                <h4 style="color: red;"><%=err.param%> : <%=err.msg%></h4>
            <% }) %>
        <% } %>
        <form method="POST" action="/post/updateMemo" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%=row.ID%>">
            <label for="writer"> writer </label><br>
            <input type ="text" id= "writer" name="writer" value="<%=row.WRITER%>"><br>
            <label for="text"> text </label><br>
            <input type ="text" id= "title" name="title" value="<%=row.TITLE%>"><br>
            <label for="content"> content </label><br>
            <textarea name="content"><%=row.CONTENT%></textarea><br>
            <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기"><br>
            <input id="img-url" type="hidden" name="url">
            <label for="img"> upload photo </label><br>
            <input id ='img' type ='file' name="userfile"><br>
            <input type="submit" value="submit"><br><br><br>
        </form>
        <input type="button" value="back" onclick="javascript:location.href='/board'">
    </body>

</html>